.home-page {
    height: 100vh;
    background-image: url(https://zajithcorro.github.io/404-not-found-page/imgs/overlay_stars.3e7fd575d359a0f17a972a2914e49c33.svg);
    background-color: #131862;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #131862;
}
